* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 25pt;
  color: white;
  background-color: black;

  font-style: normal;
  font-variant: small-caps;

  text-decoration: dotted;
  text-transform: uppercase;
  /* Box model Box model Box model Box model Box model */

  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* FORMA ABREVIADA DO MARGIN 1 top, 2right, 3bottom e 4left
  se qualquer valor não for colocado, automaticamente o valor será 
  preenchido com o valor oposto. se aplicar somente um valor ele vai aplicar em todos os lados o mesmo valor.
  margin: 50px 40px 30px 20px;
  margin: 50px 40px 30px; vai aplicar o valor de 40px em left 
  margin: 50px 40px ;  vai aplicar 50px de bottom e 40px de left por ter valores não preenchidos
  margin: 50px ;   vai aplicar em right,bottom e left o mesmo valor
  */

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  /* FORMA ABREVIADA DO PADDING 1 top, 2right, 3bottom e 4left
  padding: 50px 25px 50px 25px;

  ou deixando um valor vazio assim automáticamente o valor será igual ao oposto dele
  padding: 50px 25px 50px;
  nesse caso o left terá o mesmo valor right no caso 25px isso se aplica a valores que falta ex:
  padding: 50px 25px;
  nesse outro exemplo, automáticamente  o bottom e o left terá as mesmas medidas do seu oposto

  */

  /*  estilos de borda em Box model */
  border-color: red;
  border-style: double;
  border-width: 10px;

  /* FORMA ABREVIADA De BORDA style + width + color
  border: 5px  dotted red;

  /* Caso queira fazer bordar em um determinado lugar basta trocar bottom por left, right ou top */
  /* border-bottom-color: ;
  border-bottom-style: ;
  border-bottom-width: ; */

  /* FORMA ABREVIADA De BORDA style + width + color
  border-left: 5px  dotted red;
  border-right: 5px  dotted red;
  border-top: 5px  dotted red;
  border-bottom: 5px  dotted red;

  /* fim do box model */
}
p {
  text-decoration: underline;
  text-transform: initial;
  text-indent: 20px;

  font-style: oblique;
  font-variant: small-caps;

  font-size: 15px;
  font-family: verdana;

  margin-bottom: 5px;
}
main #h2 {
  font-size: 50px;
  text-align: center;
  color: rebeccapurple;

  border-color: white;
  border-style: dotted;
  border-width: 5px;

  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;
  margin-top: 50px;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: orangered;
  color: white;
}
