body {
  background-color: #bdbdbd;
  margin: 0px;
  font-family: arial;
}
.header1 {
  background-image: url(/img/bg-3.jpg);
  height: 700px;
  background-position: right center;
  background-size: cover;
}
.header2 h1 {
  color: white;
  text-align: center;
  padding-top: 260px;
  font-size: 56px;
  text-transform: uppercase;
  /* efeito esfumaçado */
  text-shadow: 4px 5px 4px black;
}
.header2 p {
  color: white;
  text-align: center;
  padding-top: 250px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.493);
  margin: 160px 510px;
  padding: 20px 0px;
  border-bottom: 4px solid white;
}
main {
  width: 80%;
  margin: auto;
}
.setor {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}

.img {
  display: inline-block;
  width: 300px;
  height: 10%;
  /* border: 2px solid green; */
  text-align: center;
  margin: 0px 20px;
}
.segundasecao {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}
div .setor .img p {
  font-size: 25px;
  color: white;
  padding: 10px 0px 1px;
  margin: 0px 0px;
  background-color: #424242;
  height: 50px;
}
footer {
  width: 100%;
  height: 80px;
  text-align: center;
  /* border: 1 px red;
  border-style: solid; */
  background-color: #616161;
  margin-bottom: 0px;
}
#rodape p {
  color: white;
  padding-top: 40px;
  /* efeito esfumaçado */
  text-shadow: 3px 3px 2px black;
}
