h1 {
  font-size: 20pt;
  font-family: arial;
  font-style: italic;
  font-variant: normal;

  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;

  background-color: blue;
  color: white;

  margin: 20px 400px;
  padding: 25px 5px;
  border: 2px dashed black;
}
h2 {
  margin-left: 25px;
  margin-top: 100px;

  font-size: 15pt;
  font-family: verdana;
  font-variant: small-caps;

  text-transform: inherit;
}
p {
  font-size: 20pt;
  font-family: sans-serif;
  font-variant: small-caps;
  font-style: oblique;

  text-indent: 50px;
  text-transform: lowercase;

  padding: 80px 40px;

  background-color: green;
}
